#header{
    text-align: center;
    font-size: 20px;
    align-self: center;
}

body{
    /* background-color: #FDEEC7; */
    background-color: #e1dbff;
}

#checkboxes{
    font-size: 20px;
}

#resButton{
    font-size: 30px;
}

#result{
    font-size: 40px;
    text-align: center;
}
